src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5cf12407-6083-4107-83ae-0add5b08e798" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="2d88f5fb-c512-42e9-8cc0-dfeb4cbc0e35" >
		<http:listener doc:name="Listener" doc:id="b517d9a9-5d00-4690-aa38-b2de78e2bc1d" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="Hello ! Welcome to world of MuleSoft !!" doc:name="Set Payload" doc:id="be1fd2fd-1b97-4569-99e9-314719ce3eb9" />
		<logger level="INFO" doc:name="Logger" doc:id="ac126773-c235-4b33-b8da-ca025140df96" message="#[payload]"/>
	</flow>
</mule>
